@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category

<h2>Add a new Category</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)<br>

    <input class="button" type="submit" value="Add new Category" />
}
<p>@Html.ActionLink("Show all Categories", "Index")</p>